apiVersion: ome.io/v1beta1
kind: ClusterServingRuntime
metadata:
  name: vllm-llama-3-3-nemotron-super-49b-v1
spec:
  disabled: false
  supportedModelFormats:
    - modelFramework:
        name: transformers
        version: "4.48.3"
      modelFormat:
        name: safetensors
        version: "1.0.0"
      modelArchitecture: DeciLMForCausalLM
      autoSelect: true
      priority: 1
      version: "1.0.0"
  protocolVersions:
    - openAI
  modelSizeRange:
    min: 48B
    max: 50B
  engineConfig:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"
      prometheus.io/path: "/metrics"
    labels:
      logging-forward: enabled
    tolerations:
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
    volumes:
      - name: dshm
        emptyDir:
          medium: Memory
    runner:
      name: ome-container
      image: docker.io/vllm/vllm-openai:v0.9.0.1
      ports:
        - containerPort: 8080
          name: http1
          protocol: TCP
      command:
        - python3
        - -m
        - vllm.entrypoints.openai.api_server
        - --port
        - "8080"
        - --model
        - $(MODEL_PATH)
        - --middleware
        - vllm.entrypoints.openai.middleware.log_opc_header
        - --max-log-len
        - "0"
        - --served-model-name
        - vllm-model
        - --tensor-parallel-size
        - "4"
        - --max-model-len
        - "131072"
        - --gpu-memory-utilization
        - "0.9"
        - --trust-remote-code
      volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      resources:
        requests:
          cpu: 30
          memory: 100Gi
          nvidia.com/gpu: 4
        limits:
          cpu: 30
          memory: 100Gi
          nvidia.com/gpu: 4

      readinessProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 3
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 200

      livenessProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 60

      startupProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 150
        successThreshold: 1
        periodSeconds: 6
        initialDelaySeconds: 60
        timeoutSeconds: 30