apiVersion: ome.io/v1beta1
kind: ClusterServingRuntime
metadata:
  name: srt-gpt-j-6b
spec:
  disabled: false
  supportedModelFormats:
    - modelFramework:
        name: transformers
        version: "4.42.3"
      modelFormat:
        name: safetensors
        version: "1.0.0"
      modelArchitecture: GPTJForCausalLM
      autoSelect: false
      priority: 1
      version: "1.0.0"
  protocolVersions:
    - openAI
  modelSizeRange:
    min: 5B
    max: 7B
  engineConfig:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"
      prometheus.io/path: "/metrics"
    labels:
      logging-forward: enabled
    tolerations:
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
    volumes:
      - name: dshm
        emptyDir:
          medium: Memory
    runner:
      name: ome-container
      image: docker.io/lmsysorg/sglang:v0.5.5.post3-cu129-amd64
      ports:
        - containerPort: 8080
          name: http1
          protocol: TCP
      command:
        - python3
        - -m
        - sglang.launch_server
        - --host
        - "0.0.0.0"
        - --port
        - "8080"
        - --enable-metrics
        - --log-requests
        - --model-path
        - $(MODEL_PATH)
        - --tp-size
        - "1"
        - --mem-frac
        - "0.9"
        - --served-model-name
        - EleutherAI/gpt-j-6b
      volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      resources:
        requests:
          cpu: 10
          memory: 30Gi
          nvidia.com/gpu: 1
        limits:
          cpu: 10
          memory: 30Gi
          nvidia.com/gpu: 1

      readinessProbe:
        httpGet:
          path: /health_generate
          port: 8080
        failureThreshold: 3
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 200

      livenessProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 60

      startupProbe:
        httpGet:
          path: /health_generate
          port: 8080
        failureThreshold: 150
        successThreshold: 1
        periodSeconds: 6
        initialDelaySeconds: 60
        timeoutSeconds: 30
  routerConfig:
    runner:
      name: router
      image: fra.ocir.io/idqj093njucb/smg:v0.2.3.post1-dev
      resources:
        limits:
          cpu: "1"
          memory: "2Gi"
      ports:
        - containerPort: 8080
          name: http
      command:
        - python3
        - -m
        - sglang_router.launch_router
        - --host
        - "0.0.0.0"
        - --port
        - "8080"
        - --service-discovery
        - --service-discovery-namespace
        - $(NAMESPACE)
        - --service-discovery-port
        - "8080"
        - --selector
        - component=engine ome.io/inferenceservice=$(INFERENCESERVICE_NAME)
      env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INFERENCESERVICE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['ome.io/inferenceservice']
