# This is a GitHub CODEOWNERS file that defines individuals or teams responsible for code in this repository.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence
*       @slin1237

# .devcontainer
/.devcontainer/ @slin1237

# .github
/.github/ @slin1237
/.github/workflows/ @slin1237 @XinyueZhang369

# charts
/charts/ @slin1237 @XinyueZhang369

# cmd
/cmd/ @slin1237 @pallasathena92 @beiguo218

# config
/config/ @slin1237 @CatherineSue @XinyueZhang369

# dockerfiles
/dockerfiles/ @slin1237 @pallasathena92 @beiguo218

# hack
/hack/ @slin1237

# internal
/internal/ @slin1237 @pallasathena92 @beiguo218

# oeps (OME Enhancement Proposals)
/oeps/ @slin1237

# pkg
/pkg/ @slin1237
/pkg/acceleratorclassselector/ @slin1237
/pkg/afero/ @slin1237
/pkg/apis/ @slin1237 @pallasathena92 @beiguo218
/pkg/auth/ @slin1237
/pkg/auth/aws/ @slin1237
/pkg/auth/azure/ @slin1237
/pkg/auth/gcp/ @slin1237
/pkg/auth/oci/ @slin1237
/pkg/configutils/ @slin1237
/pkg/constants/ @slin1237
/pkg/controller/ @slin1237
/pkg/controller/v1beta1/ @slin1237
/pkg/controller/v1beta1/acceleratorclass/ @slin1237
/pkg/controller/v1beta1/basemodel/ @slin1237
/pkg/controller/v1beta1/benchmark/ @slin1237 @CatherineSue
/pkg/controller/v1beta1/controllerconfig/ @slin1237
/pkg/controller/v1beta1/inferenceservice/ @slin1237 @CatherineSue @YouNeedCryDear @pallasathena92 @beiguo218

/pkg/hfutil/ @slin1237 @pallasathena92 @beiguo218
/pkg/imds/ @slin1237
/pkg/logging/ @slin1237
/pkg/modelagent/ @slin1237 @pallasathena92 @beiguo218
/pkg/modelver/ @slin1237 @pallasathena92 @beiguo218
/pkg/ociobjectstore/ @slin1237 @pallasathena92 @speedmancs @chengjieyao @davidsnahm @heymrbox @frankzhouhr @beiguo218
/pkg/principals/ @slin1237 @pallasathena92 @speedmancs @chengjieyao @davidsnahm @heymrbox @frankzhouhr @beiguo218
/pkg/runtimeselector/ @slin1237 @pallasathena92
/pkg/storage/ @slin1237
/pkg/utils/ @slin1237
/pkg/utils/storage/ @slin1237 @beiguo218
/pkg/vault/ @slin1237 @pallasathena92 @speedmancs @chengjieyao @davidsnahm @heymrbox @frankzhouhr @beiguo218
/pkg/version/ @slin1237
/pkg/webhook/ @slin1237 @pallasathena92 @beiguo218
/pkg/xet/ @slin1237 @pallasathena92 @beiguo218
/pkg/zipper/ @slin1237

# site (documentation)
/site/ @slin1237 @pallasathena92 @beiguo218

# web-console
/web-console/ @slin1237
