apiVersion: apps/v1
kind: Deployment
metadata:
  name: ome-ac-controller
  namespace: ome
  labels:
    control-plane: ome-ac-controller
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    matchLabels:
      control-plane: ome-ac-controller
      controller-tools.k8s.io: "1.0"
  template:
    metadata:
      labels:
        control-plane: ome-ac-controller
        controller-tools.k8s.io: "1.0"
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      serviceAccountName: ome-controller-manager
      securityContext:
        runAsNonRoot: false
      containers:
      - command:
        - /ac-controller
        args:
          - "--metrics-bind-address=:8080"
          - "--leader-elect"
          - "--zap-encoder=console"
        image: ghcr.io/moirai-internal/ome-ac-controller:v0.1.2
        imagePullPolicy: Always
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        livenessProbe:
          failureThreshold: 5
          initialDelaySeconds: 10
          httpGet:
            path: /healthz
            port: 8081
          timeoutSeconds: 5
        readinessProbe:
          initialDelaySeconds: 10
          failureThreshold: 10
          periodSeconds: 5
          httpGet:
            path: /readyz
            port: 8081
          timeoutSeconds: 5
        resources:
          limits:
            cpu: 100m
            memory: 300Mi
          requests:
            cpu: 100m
            memory: 200Mi
      terminationGracePeriodSeconds: 10
