apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: finetunedweights.ome.io
spec:
  group: ome.io
  names:
    kind: FineTunedWeight
    listKind: FineTunedWeightList
    plural: finetunedweights
    singular: finetunedweight
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.disabled
      name: Disabled
      type: boolean
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .spec.vendor
      name: Vendor
      type: string
    - jsonPath: .spec.compartmentID
      name: CompartmentID
      type: string
    - jsonPath: .spec.modelType
      name: ModelType
      type: string
    - jsonPath: .status.state
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            type: object
            x-kubernetes-map-type: atomic
            x-kubernetes-preserve-unknown-fields: true
          status:
            type: object
            x-kubernetes-map-type: atomic
            x-kubernetes-preserve-unknown-fields: true
        required:
        - spec
        - status
        type: object
    served: true
    storage: true
    subresources:
      status: {}
