apiVersion: v1
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: ome
data:
  multinodeProber: |-
    {
        "image": "{{ include "ome.imageWithHub" (dict "values" .Values "repository" .Values.ome.multinodeProber.image "tag" .Values.ome.multinodeProber.tag) }}",
        "memoryRequest": "{{.Values.ome.multinodeProber.memoryRequest}}",
        "memoryLimit": "{{.Values.ome.multinodeProber.memoryLimit}}",
        "cpuRequest": "{{.Values.ome.multinodeProber.cpuRequest}}",
        "cpuLimit": "{{.Values.ome.multinodeProber.cpuLimit}}",
        "startupFailureThreshold": {{.Values.ome.multinodeProber.startupFailureThreshold}},
        "startupPeriodSeconds": {{.Values.ome.multinodeProber.startupPeriodSeconds}},
        "startupTimeoutSeconds": {{.Values.ome.multinodeProber.startupTimeoutSeconds}},
        "startupInitialDelaySeconds": {{.Values.ome.multinodeProber.startupInitialDelaySeconds}},
        "unavailableThresholdSeconds": {{ .Values.ome.multinodeProber.unavailableThresholdSeconds }}
    }
  ingress: |-
    {
        "ingressGateway" : "{{ .Values.ome.controller.ingressGateway.ingressGateway.gateway }}",
        "ingressService" : "{{ .Values.ome.controller.ingressGateway.ingressGateway.gatewayService }}",
        "localGateway" : "{{ .Values.ome.controller.ingressGateway.localGateway.gateway }}",
        "localGatewayService" : "{{ .Values.ome.controller.ingressGateway.localGateway.gatewayService }}",
        "knativeLocalGatewayService" : "{{ .Values.ome.controller.ingressGateway.localGateway.gatewayService }}",
        "omeIngressGateway" : "{{ .Values.ome.controller.ingressGateway.omeIngressGateway | default "" }}",
        "ingressDomain"  : "{{ .Values.ome.controller.ingressGateway.domain }}",
        "ingressClassName" : "{{ .Values.ome.controller.ingressGateway.ingressGateway.className }}",
        "additionalIngressDomains" : {{ .Values.ome.controller.ingressGateway.additionalIngressDomains | default "null" }},
        "domainTemplate": "{{ .Values.ome.controller.ingressGateway.domainTemplate }}",
        "urlScheme": "{{ .Values.ome.controller.ingressGateway.urlScheme }}",
        "disableIstioVirtualHost": {{ .Values.ome.controller.ingressGateway.disableIstioVirtualHost }},
        "pathTemplate": "{{ .Values.ome.controller.ingressGateway.pathTemplate | default "" }}",
        "disableIngressCreation": {{ .Values.ome.controller.ingressGateway.disableIngressCreation | default false }},
        "enableGatewayAPI": {{ .Values.ome.controller.ingressGateway.enableGatewayAPI | default false }}
    }
  deploy: |-
    {
      "defaultDeploymentMode": "{{ .Values.ome.controller.deploymentMode }}"
    }

  metricsAggregator: |-
    {
      "enableMetricAggregation": "{{ .Values.ome.metricsaggregator.enableMetricAggregation }}",
      "enablePrometheusScraping" : "{{ .Values.ome.metricsaggregator.enablePrometheusScraping }}"
    }
  modelInit: |-
    {
        "image":  "{{ include "ome.imageWithHub" (dict "values" .Values "repository" .Values.ome.omeAgent.image "tag" .Values.ome.omeAgent.tag) }}",
        "memoryRequest": "{{ .Values.ome.omeAgent.modelInit.memoryRequest }}",
        "memoryLimit": "{{ .Values.ome.omeAgent.modelInit.memoryLimit }}",
        "cpuRequest": "{{ .Values.ome.omeAgent.modelInit.cpuRequest }}",
        "cpuLimit": "{{ .Values.ome.omeAgent.modelInit.cpuLimit }}",
        "compartmentId": "{{ .Values.ome.omeAgent.compartmentId }}",
        "authType" : "{{ .Values.ome.omeAgent.authType }}",
        "vaultId": "{{ .Values.ome.omeAgent.vaultId }}",
        "region": "{{ .Values.ome.omeAgent.region }}"
    }
  servingSidecar: |-
    {
        "image": "{{ include "ome.imageWithHub" (dict "values" .Values "repository" .Values.ome.omeAgent.image "tag" .Values.ome.omeAgent.tag) }}",
        "memoryRequest": "2Gi",
        "memoryLimit": "4Gi",
        "cpuRequest": "1",
        "cpuLimit": "2",
        "compartmentId": "{{ .Values.ome.omeAgent.compartmentId }}",
        "authType" : "{{ .Values.ome.omeAgent.authType }}",
        "region": "{{ .Values.ome.omeAgent.region }}"
    }
  kedaConfig: |-
    {
      "enableKeda" : {{ .Values.ome.kedaConfig.enableKeda | default true }},
      "promServerAddress": "{{ .Values.ome.kedaConfig.promServerAddress | default "http://prometheus-operated.monitoring.svc.cluster.local:9090" }}",
      "customPromQuery": "{{ .Values.ome.kedaConfig.customPromQuery | default "" }}",
      "scalingThreshold": "{{ .Values.ome.kedaConfig.scalingThreshold | default "10" }}",
      "scalingOperator": "{{ .Values.ome.kedaConfig.scalingOperator | default "GreaterThanOrEqual" }}"
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: benchmarkjob-config
  namespace: ome
data:
  benchmarkjob: |
    {
      "podConfig": {
        "image": "{{ include "ome.imageWithHub" (dict "values" .Values "repository" .Values.ome.benchmarkJob.image "tag" .Values.ome.benchmarkJob.tag) }}",
        "cpuRequest": "{{ .Values.ome.benchmarkJob.cpuRequest }}",
        "memoryRequest": "{{ .Values.ome.benchmarkJob.memoryRequest }}",
        "cpuLimit": "{{ .Values.ome.benchmarkJob.cpuLimit }}",
        "memoryLimit": "{{ .Values.ome.benchmarkJob.memoryLimit }}"
      }
    }