apiVersion: ome.io/v1beta1
kind: ClusterServingRuntime
metadata:
  name: srt-e5-7b-mistral-instruct
spec:
  disabled: false
  supportedModelFormats:
    - modelFramework:
        name: transformers
        version: "4.34.0"
      modelFormat:
        name: safetensors
        version: "1.0.0"
      modelArchitecture: MistralModel
      autoSelect: true
      priority: 1
  modelSizeRange:
    min: 5B
    max: 10B
  protocolVersions:
    - openAI
  engineConfig:
    runner:
      name: ome-container
      image: docker.io/lmsysorg/sglang:v0.5.5.post3-cu129-amd64
      ports:
        - containerPort: 8080
          name: http1
          protocol: TCP
      command:
        - python3
        - -m
        - sglang.launch_server
        - --host
        - "0.0.0.0"
        - --port
        - "8080"
        - --enable-metrics
        - --model-path
        - $(MODEL_PATH)
        - --tp-size
        - "1"
        - --is-embedding
        - --served-model-name
        - intfloat/e5-mistral-7b-instruct
      volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      resources:
        requests:
          cpu: 10
          memory: 80Gi
          nvidia.com/gpu: 1
        limits:
          cpu: 10
          memory: 80Gi
          nvidia.com/gpu: 1

      env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INFERENCESERVICE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['ome.io/inferenceservice']
      readinessProbe:
        httpGet:
          path: /readiness
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 30
        timeoutSeconds: 10
      livenessProbe:
        httpGet:
          path: /liveness
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 30
        timeoutSeconds: 10
      startupProbe:
        httpGet:
          path: /readiness
          port: 8080
        failureThreshold: 10
        successThreshold: 1
        periodSeconds: 20
        timeoutSeconds: 10
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"
      prometheus.io/path: "/metrics"
    labels:
      logging-forward: enabled
    tolerations:
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
    volumes:
      - name: dshm
        emptyDir:
          medium: Memory