apiVersion: ome.io/v1beta1
kind: ClusterServingRuntime
metadata:
  name: srt-kimi-k2-pd
spec:
  disabled: false
  modelSizeRange:
    min: 1T
    max: 1.5T
  supportedModelFormats:
    - modelFormat:
        name: safetensors
        version: "1.0.0"
      modelFramework:
        name: transformers
        version: "4.48.3"
      modelArchitecture: DeepseekV3ForCausalLM
      quantization: "fp8"
      autoSelect: true
      priority: 1
  protocolVersions:
    - openAI
  engineConfig:
    leader:
      tolerations:
        - key: "nvidia.com/gpu"
          operator: "Exists"
          effect: "NoSchedule"
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      enableServiceLinks: false
      hostIPC: true
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
        - name: devinf
          hostPath:
            path: /dev/infiniband
      runner:
        name: ome-container
        image: docker.io/lmsysorg/sglang:dev
        ports:
          - containerPort: 30000
            protocol: TCP
        env:
          - name: MC_TE_METRIC
            value: "true"
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: GLOO_SOCKET_IFNAME
            value: eth0
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        command:
          - python3
          - -m
          - sglang.launch_server
          - --port
          - "30000"
          - --host
          - "0.0.0.0"
          - --model-path
          - $(MODEL_PATH)
          - --disaggregation-ib-device
          - mlx5_1
          - --chunked-prefill-size
          - "524288"
          - --ep-dispatch-algorithm
          - dynamic
          - --eplb-algorithm
          - deepseek
          - --enable-dp-lm-head
          - --disable-cuda-graph
          - --enable-two-batch-overlap
          - --enable-dp-attention
          -  --disable-shared-experts-fusion
          - --dp-size
          - $(PARALLELISM_SIZE)
          - --disable-radix-cache
          - --enable-deepep-moe
          - --deepep-mode
          - normal
          - --disaggregation-mode
          - prefill
          - --mem-fraction-static
          - "0.849"
          - --tp-size
          - $(PARALLELISM_SIZE)
          - --dist-init-addr
          - $(LWS_LEADER_ADDRESS):5757
          - --nnodes
          - $(LWS_GROUP_SIZE)
          - --node-rank
          - $(LWS_WORKER_INDEX)
          - --trust-remote-code
          - --moe-dense-tp-size
          - "1"
          - --decode-log-interval
          - "1"
          - --max-running-requests
          - "1024"
          - --max-total-tokens
          - "131072"
          - --enable-eplb
          - --ep-num-redundant-experts
          - $(PARALLELISM_SIZE)
        resources:
          requests:
            nvidia.com/gpu: 8
          limits:
            nvidia.com/gpu: 8
        volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /dev/infiniband
            name: devinf
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - CAP_SYS_ADMIN
          privileged: true
    worker:
      size: 3
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      enableServiceLinks: false
      hostIPC: true
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
        - name: devinf
          hostPath:
            path: /dev/infiniband
      runner:
        name: ome-container
        image: docker.io/lmsysorg/sglang:dev
        ports:
          - containerPort: 30001
            protocol: TCP
        env:
          - name: MC_TE_METRIC
            value: "true"
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: GLOO_SOCKET_IFNAME
            value: eth0
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        command:
          - python3
          - -m
          - sglang.launch_server
          - --model-path
          - $(MODEL_PATH)
          - --disaggregation-ib-device
          - mlx5_1
          - --chunked-prefill-size
          - "524288"
          - --ep-dispatch-algorithm
          - dynamic
          - --eplb-algorithm
          - deepseek
          - --enable-dp-lm-head
          - --disable-cuda-graph
          - --enable-two-batch-overlap
          - --enable-dp-attention
          - --disable-shared-experts-fusion
          - --dp-size
          - $(PARALLELISM_SIZE)
          - --disable-radix-cache
          - --enable-deepep-moe
          - --deepep-mode
          - normal
          - --disaggregation-mode
          - prefill
          - --mem-fraction-static
          - "0.849"
          - --tp-size
          - $(PARALLELISM_SIZE)
          - --dist-init-addr
          - $(LWS_LEADER_ADDRESS):5757
          - --nnodes
          - $(LWS_GROUP_SIZE)
          - --node-rank
          - $(LWS_WORKER_INDEX)
          - --trust-remote-code
          - --moe-dense-tp-size
          - "1"
          - --decode-log-interval
          - "1"
          - --max-running-requests
          - "1024"
          - --max-total-tokens
          - "131072"
          - --enable-eplb
          - --ep-num-redundant-experts
          - $(PARALLELISM_SIZE)
        resources:
          limits:
            nvidia.com/gpu: "8"
          requests:
            nvidia.com/gpu: "8"
        volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /dev/infiniband
            name: devinf
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - CAP_SYS_ADMIN
          privileged: true
  decoderConfig:
    leader:
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
        - name: devinf
          hostPath:
            path: /dev/infiniband
      tolerations:
        - key: "nvidia.com/gpu"
          operator: "Exists"
          effect: "NoSchedule"
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      enableServiceLinks: false
      hostIPC: true
      runner:
        name: ome-container
        ports:
          - containerPort: 30000
            protocol: TCP
        image: docker.io/lmsysorg/sglang:dev
        env:
          - name: MC_TE_METRIC
            value: "true"
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: SGLANG_DEEPEP_NUM_MAX_DISPATCH_TOKENS_PER_RANK
            value: "480"
          - name: GLOO_SOCKET_IFNAME
            value: eth0
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        command:
          - python3
          - -m
          - sglang.launch_server
          - --port
          - "30000"
          - --host
          - "0.0.0.0"
          - --model-path
          - $(MODEL_PATH)
          - --enable-dp-attention
          - --enable-dp-lm-head
          - --dp-size
          - $(PARALLELISM_SIZE)
          - --disable-radix-cache
          - --disable-shared-experts-fusion
          - --enable-deepep-moe
          - --deepep-mode
          - low_latency
          - --disaggregation-mode
          - decode
          - --enable-two-batch-overlap
          - --mem-fraction-static
          - "0.75"
          - --disaggregation-ib-device
          - mlx5_1
          - --max-running-requests
          - "24576"
          - --tp-size
          - $(PARALLELISM_SIZE)
          - --dist-init-addr
          - $(LWS_LEADER_ADDRESS):5757
          - --nnodes
          - $(LWS_GROUP_SIZE)
          - --node-rank
          - $(LWS_WORKER_INDEX)
          - --decode-log-interval
          - "1"
          - --trust-remote-code
          - --moe-dense-tp-size
          - "1"
          - --ep-num-redundant-experts
          - $(PARALLELISM_SIZE)
          - --enable-eplb
        volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /dev/infiniband
            name: devinf
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - CAP_SYS_ADMIN
          privileged: true
        resources:
          requests:
            nvidia.com/gpu: 8
          limits:
            nvidia.com/gpu: 8
    worker:
      size: 11
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      enableServiceLinks: false
      hostIPC: true
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
        - name: devinf
          hostPath:
            path: /dev/infiniband
      runner:
        name: ome-container
        image: docker.io/lmsysorg/sglang:dev
        ports:
          - containerPort: 30001
            protocol: TCP
        env:
          - name: MC_TE_METRIC
            value: "true"
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: SGLANG_DEEPEP_NUM_MAX_DISPATCH_TOKENS_PER_RANK
            value: "480"
          - name: GLOO_SOCKET_IFNAME
            value: eth0
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        command:
          - python3
          - -m
          - sglang.launch_server
          - --model-path
          - $(MODEL_PATH)
          - --enable-dp-attention
          - --enable-dp-lm-head
          - --dp-size
          - $(PARALLELISM_SIZE)
          - --disable-radix-cache
          - --disable-shared-experts-fusion
          - --enable-deepep-moe
          - --deepep-mode
          - low_latency
          - --disaggregation-mode
          - decode
          - --enable-two-batch-overlap
          - --mem-fraction-static
          - "0.75"
          - --disaggregation-ib-device
          - mlx5_1
          - --max-running-requests
          - "24576"
          - --tp-size
          - $(PARALLELISM_SIZE)
          - --dist-init-addr
          - $(LWS_LEADER_ADDRESS):5757
          - --nnodes
          - $(LWS_GROUP_SIZE)
          - --node-rank
          - $(LWS_WORKER_INDEX)
          - --decode-log-interval
          - "1"
          - --trust-remote-code
          - --moe-dense-tp-size
          - "1"
          - --ep-num-redundant-experts
          - $(PARALLELISM_SIZE)
          - --enable-eplb
        volumeMounts:
          - mountPath: /dev/shm
            name: dshm
          - mountPath: /dev/infiniband
            name: devinf
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - CAP_SYS_ADMIN
          privileged: true
        resources:
          limits:
            nvidia.com/gpu: "8"
          requests:
            nvidia.com/gpu: "8"
  routerConfig:
    runner:
      name: router
      image: ghcr.io/moirai-internal/sgl-router:dev
      resources:
        limits:
          cpu: "10"
          memory: "20Gi"
      ports:
        - containerPort: 8080
          name: http
      command:
        - sh
        - -c
        - >
          python3 -m sglang_router.launch_router
          --host 0.0.0.0
          --port 8080
          --pd-disaggregation
          --policy random
          --service-discovery
          --service-discovery-namespace "${NAMESPACE}"
          --service-discovery-port 30000
          --prefill-selector component=engine leaderworkerset.sigs.k8s.io/worker-index=0 ome.io/inferenceservice=${INFERENCESERVICE_NAME}
          --decode-selector component=decoder leaderworkerset.sigs.k8s.io/worker-index=0 ome.io/inferenceservice=${INFERENCESERVICE_NAME}
          --max-payload-size 2147483648
          --worker-startup-timeout-secs 1200
      env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INFERENCESERVICE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['ome.io/inferenceservice']
