apiVersion: ome.io/v1beta1
kind: ClusterServingRuntime
metadata:
  name: srt-qwen-image
spec:
  disabled: false
  supportedModelFormats:
    - modelFramework:
        name: diffusers
        version: "0.34.0.dev0"
      modelFormat:
        name: diffusers
        version: "0.34.0.dev0"
      diffusionPipeline:
        className: QwenImagePipeline
        scheduler:
          library: diffusers
          type: FlowMatchEulerDiscreteScheduler
        textEncoder:
          library: transformers
          type: Qwen2_5_VLForConditionalGeneration
        tokenizer:
          library: transformers
          type: Qwen2Tokenizer
        transformer:
          library: diffusers
          type: QwenImageTransformer2DModel
        vae:
          library: diffusers
          type: AutoencoderKLQwenImage
      autoSelect: true
      priority: 1
  protocolVersions:
    - openAI
  engineConfig:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"
      prometheus.io/path: "/metrics"
    labels:
      logging-forward: enabled
    tolerations:
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
    volumes:
      - name: dshm
        emptyDir:
          medium: Memory
    runner:
      name: ome-container
      image: sglang:0.5.6-diffusion-cuda129-amd64
      ports:
        - containerPort: 8080
          name: http1
          protocol: TCP
      command:
        - sglang
        - serve
        - --host
        - "0.0.0.0"
        - --port
        - "8080"
        - --enable-metrics
        - --log-requests
        - --model-path
        - $(MODEL_PATH)
        - --served-model-name
        - Qwen/Qwen-Image
        - -tp-size
        - "1"
      volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      resources:
        requests:
          cpu: "8"
          memory: "24Gi"
          nvidia.com/gpu: 1
        limits:
          cpu: "8"
          memory: "24Gi"
          nvidia.com/gpu: 1

      readinessProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 200

      livenessProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 60
        timeoutSeconds: 60

      startupProbe:
        httpGet:
          path: /health
          port: 8080
        failureThreshold: 150
        successThreshold: 1
        periodSeconds: 6
        initialDelaySeconds: 60
        timeoutSeconds: 30
  routerConfig:
    runner:
      name: router
      image: fra.ocir.io/idqj093njucb/smg:v0.2.4.post1-dev
      resources:
        limits:
          cpu: "1"
          memory: "2Gi"
      ports:
        - containerPort: 8080
          name: http
      command:
        - python3
        - -m
        - sglang_router.launch_router
        - --host
        - "0.0.0.0"
        - --port
        - "8080"
        - --service-discovery
        - --service-discovery-namespace
        - $(NAMESPACE)
        - --service-discovery-port
        - "8080"
        - --selector
        - component=engine ome.io/inferenceservice=$(INFERENCESERVICE_NAME)
      env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INFERENCESERVICE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['ome.io/inferenceservice']
      readinessProbe:
        httpGet:
          path: /readiness
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 30
        timeoutSeconds: 10
      livenessProbe:
        httpGet:
          path: /liveness
          port: 8080
        failureThreshold: 5
        successThreshold: 1
        periodSeconds: 30
        timeoutSeconds: 10
      startupProbe:
        httpGet:
          path: /readiness
          port: 8080
        failureThreshold: 10
        successThreshold: 1
        periodSeconds: 20
        timeoutSeconds: 10

